# vim files
*.swo
*.swp
tags
.project

newsboat/cache.db
newsboat/history.search

default.target.wants
timers.target.wants

dot-config/transmission-daemon/bandwidth-groups.json
dot-config/transmission-daemon/dht.dat
dot-config/transmission-daemon/resume
dot-config/transmission-daemon/stats.json
dot-config/transmission-daemon/torrents
dot-config/transmission-daemon/bandwidth-groups.json
dot-config/transmission-daemon/dht.dat
