[Unit]
Description=Timer to trigger caa sync to business drive

[Timer]
Persistent = true
OnBootSec = 120
OnUnitActiveSec = 3600
Unit = caa-sync.service

[Install]
WantedBy = timers.target
